/* 
=====================
Shared CSS Properties
===================== 
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  box-sizing: border-box;
}

html,
body {
  border: 0px solid transparent;
}
body {
  width: 100vw;
  height: 100vh;
}
h2 {
  font-size: 1.5rem;
  color: hsl(186, 14%, 43%);
  padding: 20px 0;
}
h4 {
  font-size: 0.85rem;
  padding: 0 10px 5px;
  align-self: flex-start;
  color: hsl(186, 14%, 43%);
}
img {
  width: 12px;
  height: 13px;
  position: absolute;
  align-self: center;
  margin-left: 10px;
}
input {
  border-radius: 5px;
  height: 40px;
  width: 100vw;
  border: transparent;
  outline: none;
  background-color: hsl(189, 41%, 97%);
  text-indent: -20%;
  box-shadow: 2px 2px 1px 1px rgba(97, 97, 97, 0.2);
}
input[placeholder] {
  text-align: right;
  font-size: 1.5rem;
  color: hsl(186, 14%, 43%);
  padding: 0 10px;
}
input:focus {
  border: 1px solid red;
}
.error-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
button {
  margin: 5px 10px;
  border-radius: 5px;
  border-color: transparent;
  outline: transparent;
  align-self: center;
  justify-self: center;
  display: inline-block;
  height: 40px;
  box-shadow: 2px 2px 1px 1px rgba(97, 97, 97, 0.2);
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#splitter-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
}
#bill-amount,
#tip-selector,
#qty-people,
#calculated-values {
  padding: 10px 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.input-form {
  display: flex;
}
/* 
=====================
Bill Input Section
===================== 
*/

#bill-section {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
}
#bill-amount {
  height: 15%;
}
#bill-amount div {
  width: 100%;
  padding: 5px 10px;
}
/* 
=====================
Tip Amount
Selection Section
===================== 
*/
#tip-selector-buttons {
  width: 100%;
}
#custom-tip {
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}
#custom-tip input[type="radio"] {
  display: none;
}
.button-values {
  display: flex;
  justify-content: space-evenly;
}
.button-container {
  display: flex;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  padding: 0 20px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px 10px;
}
.button-container:hover {
  cursor: pointer;
}
#button-5 {
  grid-area: 1 / 1 / 2 / 2;
}
#button-10 {
  grid-area: 1 / 2 / 2 / 3;
}
#button-15 {
  grid-area: 2 / 1 / 3 / 2;
}
#button-25 {
  grid-area: 2 / 2 / 3 / 3;
}
#button-50 {
  grid-area: 3 / 1 / 4 / 2;
}
#custom-option {
  display: block;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  width: 100%;
  height: 70px;
  border-radius: 10px;
  padding: 20px 0;
  margin: 10px 10px;
}
#custom-option[placeholder] {
  text-align: right;
  padding-right: 15px;
}
#custom-tip input:checked + .button-container {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
/* 
=====================
Number of People
Section
===================== 
*/
#qty-people {
  height: 15%;
  display: flex;
}
#qty-people div {
  width: 100%;
  padding: 10px 10px;
}

/* 
=====================
Calculated Values
Section
===================== 
*/

#calculated-values {
  display: grid;
  width: auto;
  height: 30%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 33%);
  background-color: hsl(183, 100%, 15%);
  margin: 0 20px;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 1px 1px rgba(97, 97, 97, 0.2);
}
#calculated-values h5 {
  color: white;
  font-size: 0.8rem;
}
#calculated-values h6 {
  color: rgba(100%, 100%, 100%, 0.5);
  font-size: 0.7rem;
}
#tip-amount-splitted,
#bill-amount-splitted {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
#tip-amount-splitted {
  grid-area: 1 / 1 / 2 / 2;
}
#bill-amount-splitted {
  grid-area: 2 / 1 / 3 / 2;
}
#calculated-total,
#calculated-tip {
  font-size: 2.5rem;
  color: hsl(172, 67%, 45%);
}
#reset-button {
  background-color: hsl(172, 67%, 45%);
  margin: 0;
  align-self: center;
  width: 100%;
}

/* 
=====================
Break-point
Section
===================== 
*/
@media (min-width: 576px) {
}
